{% extends './admin_base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Admin Login | SBCA Sports Equipment</title>
    {% endblock title %}
  </head>
  <body>
    <!-- prettier-ignore -->
    {% block content %}
    <!-- //prettier-ignore -->
    <div class="container has-text-centered">
      <h1>School Equipment</h1>
      <h1>San Beda College Alabang</h1>
      <h1>(Admin Dashboard)</h1>

      <div class="columns">
        <div class="column">
          <h1>Username:</h1>
        </div>
        <div class="column">
          <input type="text" class="input" />
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <h1>Password:</h1>
        </div>
        <div class="column">
          <input type="text" class="input" />
        </div>
      </div>

      <div class="button">Submit</div>

      <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quae
        cupiditate et molestiae dolorum dolore suscipit hic illo sunt unde?
        Natus quidem laboriosam assumenda corrupti labore. Neque nulla minus,
        dolorem maxime adipisci odit illo praesentium, ipsa expedita nemo
        dolores doloremque nam labore eos impedit alias voluptate! Magnam amet
        minima quasi?
      </h1>
    </div>
    <!-- prettier-ignore -->
    {% endblock content %}
    <!-- //prettier-ignore -->
  </body>
</html>
